
*.class

bin/
my_python_path.txt
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
python/GAN/models/__pycache__/dcgan.cpython-36.pyc
.settings/org.eclipse.jdt.core.prefs
.idea/workspace.xml
*.pyc

mariogan/
mariocppntogan/